<a class="pul-right autodrop3d" href="#" target="_blank" title="Go to Autodrop3D" data-bind="attr: {href: get_autodrop_url}" style="float: left;">&nbsp;</a><a class="pull-right" href="#" data-html="true" data-bind="click: toggle_polling, attr: {title: buttonTitle}, style: {cursor: buttonPointer}" style="float: left;"><i class="fa" data-bind="css: {'disabled': processing(), 'fa-toggle-on': polling_enabled(), 'fa-toggle-off': !polling_enabled()}"></i></a>
