<div id="autodrop3d_command_editor" data-bind="with: selected_command" class="modal hide">
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
	</div>
	<div class="modal-body">
        <div class="control-group">
            <label class="control-label">{{ _('Command') }}</label>
            <div class="controls">
                <div class="input-prepend"><span class="add-on">@</span><input type="text" class="input-block" data-bind="value: command"/></div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Python Script') }}</label>
            <div class="controls">
                <textarea rows="10" class="input-block-level" data-bind="value: python"></textarea>
            </div>
        </div>
	</div>
	<div class="modal-footer">
		<small>Make sure to click save in the main settings after making changes here.</small> <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</a>
	</div>
</div>
